language: php
matrix:
  fast_finish: true
  allow_failures:
    - php: nightly
  include:
    - php: 7.1
    - php: 7.2
    - php: 7.3
    - php: 7.4
    - php: nightly

install:
    composer install

script:
    - ./vendor/bin/phpunit --testdox --coverage-clover=coverage/report/coverage.xml
    - ./vendor/bin/phpcs
    - ./vendor/bin/psalm

after_success:
    - bash <(curl -s https://codecov.io/bash)
